
.profile-card {
    display: flex;
    flex-direction: column;
    background-color:coral;
    text-align: left;
    padding-left: 20px;
    color:black;
    padding-bottom: 300px;
}
.name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 600;
    width: 700px;
    background-color: coral;
}
.profile-website{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    background-color: coral;

}
.profile-description {
    background-color: white;
    border-style: solid black;
    text-align: left;
    height: 200px;
    width: 600px;
    margin-top: 10px;
}
.profile-email{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    background-color: coral;

}

.button {
    background-color: cornsilk;
    color: forestgreen;
    font-weight: 400px;
    margin-left: 600px;
    width: 100px;
    align-content: flex-end;
}
.update-card{
    background-color: coral;
    margin-top: 500px;
}